*{
    box-sizing: border-box;
}

header {
    background-image: url(Assets/AdobeStock_321861696.jpeg);
    height: 500px;
}

header h1 {
    font-family: "Aladin";
    font-size: 100px;
    color: rgb(97, 41, 6);
    padding: 10px;
    transform: translateY(40px);
}

main {
    display:grid;
    grid-template-columns: 33%;
    grid-template-rows: auto;
    grid-template-areas:
    "A B C";
    gap: 10px;
    border-top: 10px solid #ffffff;
    text-align: center;
}

nav {
    font-family: Delius;
    font-size: 25px;
    display: flex;
    gap: 1rem;
    background-color: pink;
    padding: 10px;
}

h3{
    font-size: 30px;
}

h2 {
    font-size: 50px;
}

h2, p {
    padding: 10px;
}

p, ul{
    font-size: 25px;
    font-family: "Delius";
}

ul {
    list-style: none;
}

.A {
    color: #ffffff;
    background-color: rgb(225, 150, 52);
}

.B {
    color: #ffffff;
    background-color: rgb(66, 66, 169);
}

.C {
    color: #ffffff;
    background-color: rgb(211, 101, 101);
}

footer {
    background-color: rgb(84, 172, 130);
    color: #ffffff;
    padding: 5px;
}